p{
	color:fe7f00;
	font-size: 20pt;
	font-family:Arial;
}
i{
	color:#008000;
	font-size: 20pt;
	font-family:Arial;
}
strike{
	color:#FF0000;
	font-size: 20pt;
	font-family:Arial;
}
u{
	color:#800080;
	font-size: 20pt;
	text-decoration: overline;
	