



h3 {
width: 200pt;
height:4cm;
padding : 20px;
margin-left : 50px;
border : 7px dotted;
background : #40E0D0;
border-color: #C0C0C0;
font-size:12px;
}
/*Mateusz Szczepaniak 1P grupa2 */


